target
build
dist
.class
.settings
.classpath
.project
.jar
classes
*.log
*.iml
rebel.xml
.idea

node_modules
.DS_Store
lerna-debug.log
npm-debug.log
mochawesome-report
.happypack
package-lock.json
blocks/**/lib/
layouts/**/lib/
.eslintcache
databases
.history
.iceworks
output.js